<section class="container mt-5 d-flex">

<div class="col-6">
  <span class="font-weight-bold">Title :</span> <%= @course.title %> <br />
  <span class="font-weight-bold">Description :</span> <%= @course.description %> <br />

  <% if current_teacher %>
    <%= link_to "Edit",edit_course_path(@course.id), class:'btn btn-success' %>
    <%= link_to "Delete",course_path(@course.id), class:'btn btn-danger', method: :delete %>
    <container class="row">
      <section>
        <%= render partial: "courses/show/teacher/teacher_steps" %>
      </section>
    </container>
  <% elsif current_student %>
    <container class="row">
      <section>
        <%= render partial: "courses/show/student/student_steps" %>
      </section>
      <section>
        <%= render partial: "courses/show/student/student_attendance" %>
      </section>
    </container>
  <% end %>

  <% if current_teacher %>
    <%= link_to "Edit",edit_course_path(@course.id), class:'btn btn-success' %>
    <%= link_to "Delete",course_path(@course.id), class:'btn btn-danger', method: :delete %>
    <div class="container">
      <%= link_to "Invite students", new_course_attendance_path(@course), class:'btn btn-secondary' %>
    </div>
  <% end %>
</div>

<div class="container mt-4 col-6">
  <div class="font-weight-bold">
    Questions of the students :
  </div>
  <div class="mt-2 mb-5">
    <ul class="list-group">
      <% if current_teacher %>
        <section>
          <%= render partial: "courses/show/teacher/teacher_questions" %>
        </section>
      <% elsif current_student %>
        <%= render partial: "courses/show/student/student_questions" %>
      <% end %>
    </ul>
  </div>
</div>

</section>