<!-- <section>
  <div class="container mt-4 col-6">
   
    <span class="font-weight-bold mr-2">TITLE :</span> <%= @course.title %>
    <span class="font-weight-bold ml-3 mr-2">DESCRIPTION :</span> <%= @course.description %>

    <% if current_teacher %>
      <%= link_to "Edit",edit_course_path(@course.id), class:'btn btn-success' %>
      <%= link_to "Delete",course_path(@course.id), class:'btn btn-danger', method: :delete %>
      <%= link_to "Invite students", new_course_attendance_path(@course), class:'btn btn-secondary' %>
    <% end %>

  </div>
</section>




<div class="container mt-4 col-lg">

  <span class="font-weight-bold ml-3">
    Questions of the students :
  </span>

  <div class="container-fluid">
    <div class="row" style="justify-content: space-between;">
      
      <% if current_teacher %>

        <div class="col-4 mt-2 mb-5"><div>
          <%= render partial: "courses/show/teacher/teacher_questions" %></div>
        </div>
        <div class="col-4 mt-2 mb-5"><div>
          <%= render partial: "courses/show/teacher/teacher_steps" %></div>
        </div>
        <div class="col-4 mt-2 mb-5"><div>
          <%= render partial: "courses/show/teacher/teacher_invitations" %></div>
        </div>

      <% elsif current_student %>
      
        <div class="col-5 mt-2 mb-5">
          <%= render partial: "courses/show/student/student_questions" %>
        </div>
        <div class="col-5 mt-2 mb-5">
          <%= render partial: "courses/show/student/student_steps" %>
        </div>
        <div class="col-2 mt-2 mb-5">
          <%= render partial: "courses/show/student/student_attendance" %>
        </div>
      <% end %>
    </div>
  </div>
    
</div> -->