<section class="container mt-5">
  Title : <%= @course.title %> <br />
  Description : <%= @course.description %> <br />

  <% if current_teacher %>
    <%= link_to "Edit",edit_course_path(@course.id), class:'btn btn-success' %>
    <%= link_to "Delete",course_path(@course.id), class:'btn btn-danger', method: :delete %>
    <container class="row">
      <section style="width: 50%">
        <%= render partial: "courses/show/teacher/teacher_steps" %>
      </section>
      <section style="width: 50%">
        <%= render partial: "courses/show/teacher/teacher_questions" %>
      </section>
    </container>
  <% elsif current_student %>
    <container class="row">
      <section style="width: 50%">
        <%= render partial: "courses/show/student/student_steps" %>
      </section>
      <section style="width: 50%">
        <%= render partial: "courses/show/student/student_questions" %>
      </section>
        <section>
        <%= render partial: "courses/show/student/student_attendance" %>
      </section>
    </container>
  <% end %>

  <% if current_teacher %>
    <div class="container">
      <%= link_to "Invite students", new_course_attendance_path(@course), class:'btn btn-secondary' %>
    </div>
  <% end %>
</section>
