<div class="container mt-5">
  <% @steps.each do |step| %>
    <div>
      <div class="row justify-content-between">
      <%= step.title %>
        <div>
        <% if step.achievements.where("student_id = ?", current_student.id).count == 0 %>
          <%= form_for @achievement, url: course_step_achievements_path(course_id: step.course.id, step_id: step.id, student_id: current_student.id), method: :post do |f| %>
              <%= button_tag( class: "btn btn-primary") do %>
                <i class="fas fa-check"></i>
              <% end %>
          <% end %>
        <% else %>      
          <span>Achieved</span>
            <%= link_to course_step_achievement_path(course_id: step.course.id, step_id: step.id, id: step.achievements.where("student_id = ?", current_student.id).first.id), method: :delete, class:"btn btn-danger" do %>
            <i class="fas fa-times"></i>
            <% end %> 
          <% end %><br />
        </div>
      </div>
      <%= step.description %><br />
      <% if @course.attendances.count != 0 %>
      <%= step.achievements.count %> / <%= @course.attendances.count %>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= (step.achievements.count*100/@course.attendances.count) %>%"></div>
      </div>
      <% end %>
    </div><hr>
  <% end %>
</div>