<% @questions.each do |question| %>
  <li class="list-group-item d-flex align-items-center">

	  <div class="mr-2">
  		<%= question.content %> <span class="ml-3 mr-3">|</span>
  	</div>

  	<div class="mr-2">
  		<% if current_student.not_voted?(question) %>
		  	<%= form_for [@course, question, question.votes.build] do |f| %>
		  		<%= f.hidden_field :student_id, value: current_student.id %>
		  		<%= f.submit "Upvote #{question.num_votes}", class:"btn btn-warning" %>
		  	<% end %>
		  <% else %>
		  	<%= link_to "Unvote #{question.num_votes}", course_question_vote_path(@course, question, :student_id => current_student.id), method: :delete, class:"btn btn-info " %>
		  <% end %>
	  </div>

  	<div class="ml-auto">
	  	<% if question.student == current_student %>
	  		<%= link_to 'Delete', course_question_path(@course, question.id), :data => {:confirm => 'Are you sure?'}, method: :delete, class:"mr-2" %>
	  		<%= link_to 'Edit', edit_course_question_path(@course, question.id), class:"ml-2" %>
	  	<% end %>
	  </div>
  </li>
<% end %>

<div class="mt-3">
  <%= link_to 'Ask a question', new_course_question_path(@course), class:"btn btn-info" %>
</div>